{% extends 'gamerateapp/base.html' %} 
{% load staticfiles %} 

{% block title_block %} 
    {% if category %} 
        {{ category.name }}
    {% else %} 
        Unknown Category
    {% endif %} 
{% endblock %}

{% block body_block %} 
    {% if category %}
    <h1>{{ category.name }}</h1>
	<h2>Games</h2>
    {% if games %}
        <ul>
            {%for game in games%}
            <li><a href="{% url 'gamerateapp:game' game.slug %}">{{ game.name }}</a></li>
			<img src="{{MEDIA_URL}}{{game.picture }}" width="300" height="300" alt="{{ game.name }}" />
            {% endfor %}
        </ul>
        {% else %}
        <strong>No games currently in category.</strong>
    {% endif %}
    {% else %}
        The specified category does not exist.
    {% endif %}
{% endblock %}