{% extends 'gamerateapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if game %} 
        {{ game.name }}
    {% else %} 
        Unknown Game
    {% endif %} 
{% endblock %}

{% block body_block %}
	{% if game %}
	<h1>{{ game.name }}</h1>
	<p>Publisher</p>
		<a href="{% url 'gamerateapp:profile' game.publisher.profile %}">{{ game.publisher.profile.username }}</a><br>
		<img src="{{ game.picture }}" alt="{{ game.name }}" />
		<ul>
			<li>Stroy = {{ game.story_rating }}</li>
			<li>Gameplay = {{ game.gameplay_rating }}</li>
			<li>Graphics = {{ game.graphics_rating }}</li>
			<li>Difficulty = {{ game.difficulty_rating }}</li>
		</ul>
		<p> {{ game.game_Description }} </p>
		<a href="{% url 'gamerateapp:review' game.slug%}">Add Review</a>
		{% if reviews %}
		<ul>
			{% for review in reviews %}
				<h2>{{review.title}}<h2>
				<ul>
					<li>Stroy = {{ review.story_rating }}<li>
					<li>Gameplay = {{ review.gameplay_rating }}</li>
					<li>Graphics = {{ reviewgraphics_rating }}</li>
					<li>Difficulty = {{ review.difficulty_rating }}</li>
				</ul>
				<p>{{review.comments}}</p>
			{% endfor %}
		</ul>
		{% else %}
		        <strong>No reviews currently for this game.</strong>
		{% endif %}
	{% else %}
			That specific game dose not exist.
	{% endif %}
{% endblock %}