{% extends 'gamerateapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if game %} 
        {{ game.name }}
    {% else %} 
        Unknown Game
    {% endif %} 
{% endblock %}

{% block body_block %}
	{% if game %}
		<h1>{{% game.name %}}</h1>
		<a href="{% url 'gamerateapp:profile' p.profile.slug %}">{{ p.profile.user }}</a>
		<img src="{% game.picture %}" alt="{% game.name %}" />
		<ul>
			<li>Stroy = {% game.story_rating %}<li>
			<li>Gameplay = {% game.gameplay_rating %}</li>
			<li>Graphics = {% game.graphics_rating %}</li>
			<li>Difficulty = {% game.difficulty_rating %}</li>
		</ul>
		<p> {% game.game_Description %} </p>
		{% if reviews %}
		<ul>
		{% for review in reviews %}

{% endblock %}