{% extends 'gamerateapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    GameRate Home Page
{% endblock %}

{% block body_block %}

<!-- Criteria: Gameplay, Graphics, Story, Difficulty -->
<div>
    <div class="jumbotron p-4">
    <div class="container">
        <h2 class="jumbotron-heading">Top in Gameplay</h2>
    </div>
	</div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% if top_gameplay %}
        <ul>
        {% for game in top_gameplay %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><li><a href="{% url 'gamerateapp:game' game.slug %}">{{ game.name }}</a></li></p>
					<p>Average gameplay rating of {{ game.gameplay_rating }}</p>
					<p>Publisher</p>
					<a href="{% url 'gamerateapp:profile' game.publisher.profile %}">{{ game.publisher.profile.username }}</a><br>
					{% if game.picture is not null %}
					<img src="{{MEDIA_URL}}{{game.picture }}" width="300" height="300" alt="{{ game.name }}" />
					{% else %}
					<img src="{{MEDIA_URL}}game_images/No_images.png" width="300" height="300" alt="No image" />
					{% endif %}
                </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <strong>No top games yet!</strong>
    {% endif %}
    </div>
</div>
<div>
    <div class="jumbotron p-4">
    <div class="container">
        <h2 class="jumbotron-heading">Top in Graphics</h2>
    </div>
	</div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% if top_graphics %}
        <ul>
        {% for game in top_graphics %}
            <div class="card">
                <!--<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <p class="card-text"><li><a href="{% url 'gamerateapp:game' game.slug %}">{{ game.name }}</a></li></p>
					<p>Average graphics rating of {{ game.graphics_rating }}</p>
					<p>Publisher</p>
					<a href="{% url 'gamerateapp:profile' game.publisher.profile %}">{{ game.publisher.profile.username }}</a><br>
					<img src="{{MEDIA_URL}}{{game.picture }}" width="300" height="300" alt="{{ game.name }}" />
                </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <strong>No top games yet!</strong>
    {% endif %}
    </div>
</div>
<div>
    <div class="jumbotron p-4">
    <div class="container">
        <h2 class="jumbotron-heading">Top in Story</h2>
    </div>
	</div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% if top_story %}
        <ul>
        {% for game in top_story %}
            <div class="card">
                <!--<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <p class="card-text"><li><a href="{% url 'gamerateapp:game' game.slug %}">{{ game.name }}</a></li></p>
					<p>Average story rating of {{ game.story_rating }}</p>
					<p>Publisher</p>
					<a href="{% url 'gamerateapp:profile' game.publisher.profile %}">{{ game.publisher.profile.username }}</a><br>
					<img src="{{MEDIA_URL}}{{game.picture }}" width="300" height="300" alt="{{ game.name }}" />
                </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <strong>No top games yet!</strong>
    {% endif %}
    </div>
</div>
<div>
    <div class="jumbotron p-4">
    <div class="container">
        <h2 class="jumbotron-heading">Top in Difficulty</h2>
    </div>
	</div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% if top_difficulty %}
        <ul>
        {% for game in top_difficulty %}
            <div class="card">
                <!--<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <p class="card-text"><li><a href="{% url 'gamerateapp:game' game.slug %}">{{ game.name }}</a></li></p>
					<p>Average difficulty rating of {{ game.difficulty_rating }}</p>
					<p>Publisher</p>
					<a href="{% url 'gamerateapp:profile' game.publisher.profile %}">{{ game.publisher.profile.username }}</a><br>
					<img src="{{MEDIA_URL}}{{game.picture }}" width="300" height="300" alt="{{ game.name }}" />
                </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <strong>No top games yet!</strong>
    {% endif %}
    </div>
</div>
{% endblock %}
