{% extends 'gamerateapp/base.html' %} 
{% load staticfiles %} 

{% block title_block %}
Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <img style="margin:2px" src="{{ MEDIA_URL }}{{ user_profile.picture }}" width="300" height="300" alt="{{ selected_user.username }}'s profile image" />
    <br />
        <div>
            {% if selected_user == user %}
                <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}{{ form.as_p }}<input type="submit" value="Update" /></form>
            {% endif %}
        </div>
    </div>
</div>
{% if selected_user == user %}
<div>
    <a href="{% url 'auth_password_change' %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true" style="margin:2px">Change Password</a>
</div>
{% endif %}
{% if publisher %}
	{% if selected_user == user %}
	<a href="/gamerateapp/profile/{{ selected_user.username }}/add_game/" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true" style="margin:2px">Add Game</a>
	{% endif %}
{% else %}
<a href="/gamerateapp/profile/{{ selected_user.username }}/register_publisher/" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true" style="margin:2px">Become a Publisher</a>
{% endif %}
<h2>Games</h2>
<ul>
	{% for game in games %}
		<li><a href="{% url 'gamerateapp:game' game.slug %}">{{ game.name }}</a></li>
		<img src="{{MEDIA_URL}}{{game.picture }}" width="300" height="300" alt="{{ game.name }}" />
    {% endfor %}
</ul>
<h2>Reviews</h2>
{% for review in reviews %}
    <div class="card" style="padding:5px; margin:10px">
		<li><a href="{% url 'gamerateapp:game' review.game.slug %}">{{ review.game.name }}</a></li>
		<p>{{review.title}}<p>
		<ul>
			<li>Story = {{ review.story_rating }}</li>
			<li>Gameplay = {{ review.gameplay_rating }}</li>
			<li>Graphics = {{ review.graphics_rating }}</li>
			<li>Difficulty = {{ review.difficulty_rating }}</li>
		</ul>
		<p>{{review.comments}}</p>
	</div>
	{% endfor %}
{% endblock %}
