{% extends 'gamerateapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Publishers
{% endblock %}

{% block body_block %}

<div>
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Publishers</h1>
    </div>
</div>
    {% if publishers %}
        <ul>
            {%for p in publishers%}
            <li><a href="{% url 'gamerateapp:profile' p.profile %}">{{ p.profile.username }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No publishers present.</strong>
    {% endif %}
</div>

{% endblock %}